<div class = "ui grid">
    <div class="ten wide column centered left aligned row">
        <div class="ui segment">
            <div class="ui form">
                <h3 class="centered aligned">Adding New Entry:</h3>
                <form method="POST" action="/tabs">
                    <div class="field">
                        <label>Song:</label>
                        <input name="name" type="text">
                    </div>
                    <div class="field">
                        <label>Composer:</label>
                        <input name="composer" type="text">
                    </div>
                    <div class="field">
                        <label>Arranger:</label>
                        <input name="arranger" type="text">
                    </div>
                    <div class="field">
                        <label>Image URL:</label>
                        <textarea rows="2" name="image"></textarea>
                    </div>
                    <div class="field">
                        <label>Lyrics:</label>
                        <textarea name="lyrics"></textarea>
                    </div>
                    <div class="field">
                        <label>Description:</label>
                        <textarea rows="3" name="description"></textarea>
                    </div>
                    <div class="field">
                        <label>Tab Download:</label>
                        <input name="link" type="text">
                    </div>
                    <div class="field">
                        <label>Youtube:</label>
                        <div class="ui labeled input">
                            <div class="ui label">https://www.youtube.com/watch?v=</div>
                            <input name="youtube" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <input name="submit" type="submit" value="Save Changes" />
                        <button><a href="/dashboard">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div>

