<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GuitarTabs</title>
</head>
<body>
    <form method="get" action="/dashboard">
    <input type="submit" value="dashboard">
    </form>

  <h3>Adding New Entry</h3>
  <form method="POST" action="/tabs">
    {{!-- added temporarily user-id. Not a good way to do this --}}
    <div>USER ID:<input name="userID" type="text"/></div>
    <div>Song:<input name="name" type="text"/></div>
    <div>Composer:<input name="composer" type="text"/></div>
    <div>Arranger:<input name="arranger" type="text"></div>
    <div>Image URL:<input name="image" type="text"></div>
    <div>Lyrics:<input name="lyrics" type="text"></div>
    <div>Description:<input name="description" type="text"/></div>
    <div>Tab Download:<input name="link" type="text"></div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
