<div class="rWrapper">
    <h3>Adding New Entry</h3>
    <form method="POST" action="/tabs">
        <div class="form-group">
            <input name="name" type="text" class="form-control" placeholder="Enter song name">
        </div>
        <div class="form-group">
            <input name="composer" type="text" class="form-control" placeholder="Enter composer ">
        </div>
        <div class="form-group">
            <input name="arranger" type="text" class="form-control" placeholder="Enter tab/score arranger">
        </div>
        <div class="form-group">
            <input name="image" type="text" class="form-control" placeholder="Enter image URL">
        </div>
        <div class="form-group">
            <input name="lyrics" type="text" class="form-control" placeholder="Enter lyrics">
        </div>
        <div class="form-group">
            <input name="description" type="text" class="form-control" placeholder="Enter description">
        </div>
        <div class="form-group">
            <input name="link" type="text" class="form-control" placeholder="Enter tab download URL">
        </div>
        <div class="form-group">
            <input name="youtube" type="text" class="form-control" placeholder="Enter youtube URL">
        </div>
        <div class="form-group">
            <input name="submit" type="submit">
            <button><a href="/dashboard">Cancel</a></button>
        </div>
    </form>
</div>
