<!DOCTYPE html>
<html>
<head>
	<title>GuitarTabs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse uNav">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">GuitarTabs</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/">Home</a></li>
	      <li class="active"><a href = "../dashboard">DashBoard</a></li>
	      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="../users/login">Login</a></li>
	          <li><a href="../users/register">Sign Up</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav>

	<main>
		<h4>Dashboard</h4>
		<button>Create New Entry</button>
		<table border="1" id="myTable">
		<tr>
			<td>ID</td>
			<td>Song</td>
			<td>Composer</td>
			<td>Arranger</td>
			<td></td>
		</tr>
	      {{#each songs}}
	    <tr>
	      <td>{{this.id}}</td>
	      <td>{{this.name}}</td>
	      <td>{{this.composer}}</td>
	      <td>{{this.arranger}}</td>
	      <td style="border:none">
	      	<button>Edit</button>
	      	<button>Delete</button>
	      </td>
	     </tr>
	     {{/each}}
	  </table>
	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

