<form method="POST" action="/search" class="sForm">
	<input type="text" name="search" placeholder="Search by song, composer, arranger " id="search">
	<input type="submit" value="Search" name="submSearch" id="submSearch">
</form>
