<div class="ui middle aligned center aligned grid" id="home">	  
    <form class="ui large form" method="POST" action="/search">
    	<div class="field">
			<input type="text" name="search" placeholder="Search by song, composer, arranger " required>
		</div>
		<div class="field">
			<div class="five wide column">
				<label id="home_select">Select libraries:</label>
				<select class="ui search dropdown" name="option">
		      		<option>GuitarTabs</option>
		      		<option>Songsterr</option>
		      		<option>Ultimate Guitar</option>
	      		</select>
	      		<button class="ui pink basic button" name="submSearch" type="submit">
				  <i class="search icon"></i>
				  Search
				</button>
      		</div>
		</div>
    </form>
  
  	<div class="six wide row">
		<div class="ui info message">
	  	<i class="close icon"></i>
	  	Disclaimer: Only song names work for Songsterr &nbsp;  
		</div>
	</div>
</div>
