<!DOCTYPE html>
<html>
<head>
	<title>GuitarTabs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse uNav">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">GuitarTabs</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/">Home</a></li>
	      <li><a href = "../dashboard">Library</a></li>
	      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Account <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          {{#if user}}
	          	<li><a id="logout">Logout</a></li>
	          {{else}}
	          	<li><a href="../users/login">Login</a></li>
	          	<li><a href="../users/register">Sign Up</a></li>
	          {{/if}}

	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="container">
		<div class="row">
	        <div class="col-lg-12">
        	  <form id="myform" method="POST" action="/users/logout">
        	  	<input type="hidden" value="Log Off" name="logOut">
        	  </form>

	          {{#if success_msg}}
	            <div class="alert alert-success">{{success_msg}}</div>
	          {{/if}}
	          {{#if error_msg}}
	            <div class="alert alert-danger">{{error_msg}}</div>
	          {{/if}}
	          
	          {{{body}}}
	     	</div>
	     </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/script/script.js"></script> 
</body>
</html>