#logout{
	cursor:pointer;
}
#wrapper{
	margin-top: 65px;
}

/**
* ===================================
* HOME
* ===================================
*/
#shiftTop{
	margin-top: 50px;
}
#home_select{
	margin-left: 10px;
}

/**
* ===================================
* View tab
* ===================================
*/
#viewWrapper{
	height: 349px;
}

/**
* ===================================
* Edit tab
* ===================================
*/
#dashboardWrapper{
	margin-bottom:15px;
}
.deleteButt{
	display:none;
}