#logout{
	cursor:pointer;
}
#wrapper{
	margin-top: 65px;
}

/**
* ===================================
* HOME
* ===================================
*/
#shiftTop{
	margin-top: 50px;
}
#home_select{
	margin-left: 10px;
}

/**
* ===================================
* View tab
* ===================================
*/
#viewWrapper{
	height: 349px;
}

/**
* ===================================
* Edit tab
* ===================================
*/
#dashboardWrapper{
	margin-bottom:15px;
}

/**
* ===================================
* Chart tab
* ===================================
*/
.chartHD1{
	margin-left:20px;
}
.chartHD2{
	margin-left:30px;
}
.chartIMG{
	margin-left:30px;
}
.chartTXT{
	margin-left:20px;
}