<div class="rWrapper">
  	<h3 class="page-header">Login</h3>
	<form method="POST" action="/users/login">
	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Enter username" required>
	</div>
	<div class="form-group">
	    <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" required>
	    <input type="checkbox" id="showPassword"> <small class="form-text text-muted">Show password</small>
  	</div>
  	<div class="form-group">  
		<button type="submit" name="submit" id="rSubmit">Sign In</button>
	</div>
	</form>
</div>


