<h2>Register</h2>
<div>
  <form method="POST" action="/">
  </br>Email:</br>
  <input type="text" name="email">
  </br>Password:</br>
  <input type="password" name="pass">
  <p><button type="submit" name="submit">Register</button></p>
</form>
</div>